.idea
.vscode
build

node_modules

dist/
postgres-data/
redis-data/
postgres_data
redis_data

CLAUDE.md
docker-compose.override.yml

*.out
coverage.html

api-gateway/auth_coverage
api-gateway/proxy_coverage
migrate/package-lock.json
testing-report/evidence/